# PythonAnywhere .env file
# Copy this file to .env on the server and fill in the values

SECRET_KEY=django-insecure-fv)ij95!)0&wz2-7klrvjp@m22qwj0f-kqw03v&h0u46g2wg
DEBUG=False
ALLOWED_HOSTS=yourusername.pythonanywhere.com
